<%- include('partials/header.ejs') %>

        <h1>Information on Earth</h1>
        <a href="/">         Home    </a> <br>
        <a href="/mercury">  Mercury </a> <br>
        <a href="/venus">    Venus   </a> <br>
        <a href="/saturn">   Saturn  </a> <br>
        <a href="/neptune">  Neptune </a> <br>
        
        <!--Earth <br>-->
        <br>
        
        <label> Home to humans and all different kind of animals. Orbits the sun! </label>
        
        <br><br>
        
        <img src="/img/earth.png" alt="The Solar System" />
        
<%- include('partials/footer.ejs') %>