<%- include('partials/header.ejs') %>

        <h1>Information on Neptune</h1>
        <a href="/">        Home    </a> <br>
        <a href="/mercury"> Mercury </a> <br>
        <a href="/venus">   Venus   </a> <br>
        <a href="/earth">   Earth   </a> <br>
        <a href="/saturn">  Saturn  </a> <br>
        
        
        <!--Earth <br>-->
        <br>
        
        <label> Named after Neptune the Roman god of the sea. Also known as Poseidon in Greek mythology! Is a deep blue color. </label>
        
        <br><br>
        
        <img src="/img/neptune.png" alt="The Solar System" />
        
<%- include('partials/footer.ejs') %>