<%- include('partials/header.ejs') %>

        <h1>Information on Saturn</h1>
        <a href="/">        Home    </a> <br>
        <a href="/mercury"> Mercury </a> <br>
        <a href="/venus">   Venus   </a> <br>
        <a href="/earth">   Earth   </a> <br>
        <a href="/neptune"> Neptune </a> <br>
        
        <!--Earth <br>-->
        <br>
        
        <label> Second largest planet in the Solar System behind Jupiter. Considered a gas giant.</label>
        
        <br><br>
        
        <img src="/img/saturn.jpg" alt="The Solar System" />
        
<%- include('partials/footer.ejs') %>