<%- include('partials/header.ejs') %>

        <h1>Information on Venus</h1>
        <a href="/">        Home    </a> <br>
        <a href="/mercury"> Mercury </a> <br>
        <a href="/earth">   Earth   </a> <br>
        <a href="/saturn">  Saturn  </a> <br>
        <a href="/neptune"> Neptune </a> <br>
        
        <!--Earth <br>-->
        <br>
        
        <label> Second brightest natural object in the sky behind the moon! Named after the Roman goddess of love and beauty. </label>
        
        <br><br>
        
        <img src="/img/venus.jpg" alt="The Solar System" />
        
<%- include('partials/footer.ejs') %>