body{
    background-color: white;
    color:black;
}
    nav{
        text-align: center;
        
    }
    
    header, main {
        text-align: left;
    }
    
    em{
        font-size: .5
    }
    
    nav a {                     /* links within "nav" container */
        padding:15px;
        padding-bottom: 4px;
        font-size: 1.8em;
        text-decoration: none;  /*removes underline*/
        color: black;           /* by default, links are blue */
    }
    
    nav a:hover {      /*pseudo class*/
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s;   /* transition effect */
    }
    
    nav c  {
        border-bottom: 2px orange solid;
        font-size: 2em;
        color: black;
    }
    
    #me, #welcomeText {
        float: left;
        color: black;
    }
    
    footer {
        text-align: left;
        clear: left;
        color: silver;
        font-size: .5em;
    }
    
    table{
        margin: 0px auto;
    }
    
    td{
        padding-right: 10px;
        font-size: 1.3em;
    }
    
    td strong{
        color: orange;
    }
    
    #table-header{
        background-color: #351a00;
    }
    
    td{
        color: white;
    }
    
    
    .table-row{
        background-color: #753900;
    }
    
    ul{
        text-align: left;
        padding-left: 200px;
    }
    
    .hobby{
        color: blue;
    }
    
    h1{
        font-family: 'Pacifico', cursive;
        font-size: 4em;
        margin-bottom: 0px;
    }
    
    header{
        font-family: 'Pacifico', cursive;
    }
    
    /*p{*/
    /*    font-family: 'Dancing Script', cursive;*/
    /*}*/
    